/* form */

.registr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.registr__body {
  width: 460px;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 110px;
}
.registr__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFC700;
  text-align: center;
  padding: 48px 40px;
  opacity: 1;
}
.registr__text {
    font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  padding: 0 40px;
}
.registr__btn {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  background: #FFC700;
  border: none;
  border-radius: 25px;
  padding: 11px 55px;
  margin: 0 auto;
  opacity: 1 !important;
  margin-top: 24px;
  display: flex;
}
.registr__btn:hover {
  background: #FFDA58;
  cursor: pointer;
}

.open {
  display: block !important;
}

.close {
  display: none;
}

.progress {
  height: 8px;
}

.progress-bar-150 {
  height: 8px;
  background-color: #FFC700;
  width: 150px;
}

.progress-bar-300 {
    height: 8px;
  background-color: #FFC700;
  width: 300px;
}

.progress-bar-400 {
    height: 8px;
  background-color: #FFC700;
  width: 460px;
}

.progress__1 {
    height: 8px;
    background-color: #F4DF96;
}

.registrs__content {
  width: 460px;
  border-radius: 8px;
  margin-top: 110px;
  background-color: #FFFFFF;
  justify-content: center;
  display: grid;
}
.registrs__text-two {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 40px 80px 20px 80px;
}
.registrs__btns {
  padding-bottom: 36px;
  display: flex;
    justify-content: center;
}
.registrs__btn {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  padding: 10px 37px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

.registrs__btn:hover {
    background-color: #F4DF96;
}

.registrs__numbers {
  width: 270px;
  margin: auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
}

.registrs__text-after {
  font-size: 12px;
  width: 272px;
  height: 72px;
  color: #000000;
  opacity: 0.5;
  margin: auto;
}

.registrs__number {
  width: 41px;
  height: 41px;
  background-color: #F4E096;
  color: #c7aa43;
  border-radius: 4px;
  padding-top: 5px;
  text-align: center;
}

.active-numb {
  background-color: #FFC700 !important;
  color: #FFFFFF !important;
}

.no {
  border: 1px solid black;
}

.yes {
  background-color: #FFC700;
}

.form-select {
  width: 273px;
  height: 40px;
  margin: 4px auto;
  padding-left: 10px;
}

.form {
  margin-top: 24px;
  padding: 10px 84px;
}

.form__container {
display: flex;
    justify-content: center;
}

.form-control {
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 12px;
  border: 1px solid gray;
}

.textarea-email {
  margin: auto;
}

.registrs__box-checked {
  width: 240px;
  margin: 24px auto 0;
  display: flex;
}

.registrs__checked {
  font-size: 10px;
  margin-left: 12px;
}

input {
  padding: 0;
  height: 40px;
}

input:valid {
  border-color: green;
  
}


input:invalid {
  border-color: rgb(248, 4, 4);
}



@media screen and (max-width: 320px) {
  .registr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.registr__body {
  width: 460px;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 110px;
}
.registr__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFC700;
  text-align: center;
  padding: 48px 40px;
  opacity: 1;
}
.registr__text {
    font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  padding: 0 40px;
}
.registr__btn {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  background: #FFC700;
  border: none;
  border-radius: 25px;
  padding: 11px 55px;
  margin: 0 auto;
  opacity: 1 !important;
  margin-top: 24px;
  display: flex;
}
.registr__btn:hover {
  background: #FFDA58;
  cursor: pointer;
}

.open {
  display: block !important;
}

.close {
  display: none;
}

.progress {
  height: 8px;
}

.progress-bar-150 {
  height: 8px;
  background-color: #FFC700;
  width: 150px;
}

.progress-bar-300 {
    height: 8px;
  background-color: #FFC700;
  width: 300px;
}

.progress-bar-400 {
    height: 8px;
  background-color: #FFC700;
  width: 460px;
}

.progress__1 {
    height: 8px;
    background-color: #F4DF96;
}

.registrs__content {
  width: 460px;
  border-radius: 8px;
  margin-top: 110px;
  background-color: #FFFFFF;
  justify-content: center;
  display: grid;
}
.registrs__text-two {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 40px 80px 20px 80px;
}
.registrs__btns {
  padding-bottom: 36px;
  display: flex;
    justify-content: center;
}
.registrs__btn {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  padding: 10px 37px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

.registrs__btn:hover {
    background-color: #F4DF96;
}

.registrs__numbers {
  width: 270px;
  margin: auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
}

.registrs__text-after {
  font-size: 12px;
  width: 272px;
  height: 72px;
  color: #000000;
  opacity: 0.5;
  margin: auto;
}

.registrs__number {
  width: 41px;
  height: 41px;
  background-color: #F4E096;
  color: #c7aa43;
  border-radius: 4px;
  padding-top: 5px;
  text-align: center;
}

.active-numb {
  background-color: #FFC700 !important;
  color: #FFFFFF !important;
}

.no {
  border: 1px solid black;
}

.yes {
  background-color: #FFC700;
}

.form-select {
  width: 273px;
  height: 40px;
  margin: 4px auto;
  padding-left: 10px;
}

.form {
  margin-top: 24px;
  padding: 10px 84px;
}

.form__container {
display: flex;
    justify-content: center;
}

.form-control {
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 12px;
  border: 1px solid gray;
}

.textarea-email {
  margin: auto;
}

.registrs__box-checked {
  width: 240px;
  margin: 24px auto 0;
  display: flex;
}

.registrs__checked {
  font-size: 10px;
  margin-left: 12px;
}

input {
  padding: 0;
  height: 40px;
}

input:valid {
  border-color: green;
  
}


input:invalid {
  border-color: red;
}
}

@media screen and (max-width: 720px) {
  .registr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.registr__body {
  width: 460px;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 110px;
  margin-left: 85px;
}
.registr__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFC700;
  text-align: center;
  padding: 48px 40px;
  opacity: 1;
}
.registr__text {
    font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  padding: 0 40px;
}
.registr__btn {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  background: #FFC700;
  border: none;
  border-radius: 25px;
  padding: 11px 55px;
  margin: 0 auto;
  opacity: 1 !important;
  margin-top: 24px;
  display: flex;
}
.registr__btn:hover {
  background: #FFDA58;
  cursor: pointer;
}

.open {
  display: block !important;
}

.close {
  display: none;
}

.progress {
  height: 8px;
}

.progress-bar-150 {
  height: 8px;
  background-color: #FFC700;
  width: 150px;
}

.progress-bar-300 {
    height: 8px;
  background-color: #FFC700;
  width: 300px;
}

.progress-bar-400 {
    height: 8px;
  background-color: #FFC700;
  width: 460px;
}

.progress__1 {
    height: 8px;
    background-color: #F4DF96;
}

.registrs__content {
  width: 460px;
  border-radius: 8px;
  margin-top: 110px;
  background-color: #FFFFFF;
  justify-content: center;
  display: grid;
}
.registrs__text-two {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 40px 80px 20px 80px;
}
.registrs__btns {
  padding-bottom: 36px;
  display: flex;
    justify-content: center;
}
.registrs__btn {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  padding: 10px 37px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

.registrs__btn:hover {
    background-color: #F4DF96;
}

.registrs__numbers {
  width: 270px;
  margin: auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
}

.registrs__text-after {
  font-size: 12px;
  width: 272px;
  height: 72px;
  color: #000000;
  opacity: 0.5;
  margin: auto;
}

.registrs__number {
  width: 41px;
  height: 41px;
  background-color: #F4E096;
  color: #c7aa43;
  border-radius: 4px;
  padding-top: 5px;
  text-align: center;
}

.active-numb {
  background-color: #FFC700 !important;
  color: #FFFFFF !important;
}

.no {
  border: 1px solid black;
}

.yes {
  background-color: #FFC700;
}

.form-select {
  width: 273px;
  height: 40px;
  margin: 4px auto;
  padding-left: 10px;
}

.form {
  margin-top: 24px;
  padding: 10px 84px;
}

.form__container {
display: flex;
    justify-content: center;
}

.form-control {
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 12px;
  border: 1px solid gray;
}

.textarea-email {
  margin: auto;
}

.registrs__box-checked {
  width: 240px;
  margin: 24px auto 0;
  display: flex;
}

.registrs__checked {
  font-size: 10px;
  margin-left: 12px;
}

input {
  padding: 0;
  height: 40px;
}

input:valid {
  border-color: green;
  
}


input:invalid {
  border-color: red;
}
}

@media screen and (max-width: 960px) {
  .registr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.registr__body {
  width: 460px;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 110px;
  margin-left: 150px;
}
.registr__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFC700;
  text-align: center;
  padding: 48px 40px;
  opacity: 1;
}
.registr__text {
    font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  padding: 0 40px;
}
.registr__btn {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  background: #FFC700;
  border: none;
  border-radius: 25px;
  padding: 11px 55px;
  margin: 0 auto;
  opacity: 1 !important;
  margin-top: 24px;
  display: flex;
}
.registr__btn:hover {
  background: #FFDA58;
  cursor: pointer;
}

.open {
  display: block !important;
}

.close {
  display: none;
}

.progress {
  height: 8px;
}

.progress-bar-150 {
  height: 8px;
  background-color: #FFC700;
  width: 150px;
}

.progress-bar-300 {
    height: 8px;
  background-color: #FFC700;
  width: 300px;
}

.progress-bar-400 {
    height: 8px;
  background-color: #FFC700;
  width: 460px;
}

.progress__1 {
    height: 8px;
    background-color: #F4DF96;
}

.registrs__content {
  width: 460px;
  border-radius: 8px;
  margin-top: 110px;
  background-color: #FFFFFF;
  justify-content: center;
  display: grid;
}
.registrs__text-two {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 40px 80px 20px 80px;
}
.registrs__btns {
  padding-bottom: 36px;
  display: flex;
    justify-content: center;
}
.registrs__btn {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  padding: 10px 37px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

.registrs__btn:hover {
    background-color: #F4DF96;
}

.registrs__numbers {
  width: 270px;
  margin: auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
}

.registrs__text-after {
  font-size: 12px;
  width: 272px;
  height: 72px;
  color: #000000;
  opacity: 0.5;
  margin: auto;
}

.registrs__number {
  width: 41px;
  height: 41px;
  background-color: #F4E096;
  color: #c7aa43;
  border-radius: 4px;
  padding-top: 5px;
  text-align: center;
}

.active-numb {
  background-color: #FFC700 !important;
  color: #FFFFFF !important;
}

.no {
  border: 1px solid black;
}

.yes {
  background-color: #FFC700;
}

.form-select {
  width: 273px;
  height: 40px;
  margin: 4px auto;
  padding-left: 10px;
}

.form {
  margin-top: 24px;
  padding: 10px 84px;
}

.form__container {
display: flex;
    justify-content: center;
}

.form-control {
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 12px;
  border: 1px solid gray;
}

.textarea-email {
  margin: auto;
}

.registrs__box-checked {
  width: 240px;
  margin: 24px auto 0;
  display: flex;
}

.registrs__checked {
  font-size: 10px;
  margin-left: 12px;
}

input {
  padding: 0;
  height: 40px;
}

input:valid {
  border-color: green;
  
}


input:invalid {
  border-color: red;
}
}